Code
Electron
SEGGER
SalSoft
autostart
bashtop
configstore
dconf
github-copilot
go/telemetry/local
gtk-2.0
jgit
kde.org
lazygit
menus/applications-merged
neofetch
netlify
nvim_old
nvim_old_2
obsidian
pnpm
pulse
qmk
session
systemd/user
vesktop
vlc
xfce4/xfconf/xfce-perchannel-xml
QtProject.conf
baloofileinformationrc
dolphinrc
mimeapps.list
pavucontrol.ini
trashrc
README_o.md
